*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 92px;
    background-color: #FFFFFF;
}
header img{
    height: 60px;
    width: 139px;
    margin-left: 100px;
    margin-top: 16px;
    margin-bottom: 16px;
}
header nav{
      display: flex;

}
header nav ul{
    display: flex;
    list-style: none;
    margin-left: 450px;
    height: 24px;
    margin-top: 34px;
    margin-bottom: 34px;
    gap:25px;
}
header nav ul li a{
     text-decoration: none;
     color:black;
     font-size: 20px;
     font-weight: 500;
}
header nav button{
    margin-left: 500px;
    width: 164px;
    height: 44px;
    margin-top: 24px;
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    text-transform: capitalize;
}
/* header end */

#hero{
    height: 674px;
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero #hero-div{
    width: 1360;
    height: 380;
}
#hero #hero-div #topbtn{
    width: 229px;
    height: 36px;
    margin-bottom: 16px;
    border-radius: 20px;
    border: none;
    margin-left: 190px;
}
#hero #hero-div h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
}
#hero #hero-div #colH1{
    color: #30B868;
}
#hero #hero-div p{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}
#hero #hero-div #btn-div{
    margin-left: 70px;
}
#hero #hero-div #btn-div button{
    margin-top: 10px;
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 16px 46px 16px 16px;
    font-size: 16px;
}
#hero #hero-div #btn-div #trans{
    background-color: transparent;
    border: 2px solid #FFFFFF;
}
