*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 92px;
    background-color: #FFFFFF;
}
header img{
    height: 60px;
    width: 139px;
    margin-left: 100px;
    margin-top: 16px;
    margin-bottom: 16px;
}
header nav{
      display: flex;

}
header nav ul{
    display: flex;
    list-style: none;
    margin-left: 450px;
    height: 24px;
    margin-top: 34px;
    margin-bottom: 34px;
    gap:25px;
}
header nav ul li a{
     text-decoration: none;
     color:black;
     font-size: 20px;
     font-weight: 500;
}
header nav button{
    margin-left: 500px;
    width: 164px;
    height: 44px;
    margin-top: 24px;
    border: none;
    border-radius: 5px;
    background-color: #30B868;
    padding: 12px 16px;
    color: rgba(255, 255, 255, 1);
    font-weight: 600;
    text-transform: capitalize;
}
/* header end */

#hero{
    height: 674px;
    background-image: url('./assets/hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero #hero-div{
    width: 1360;
    height: 380;
}
#hero #hero-div #topbtn{
    width: 229px;
    height: 36px;
    margin-bottom: 16px;
    border-radius: 20px;
    border: none;
    margin-left: 190px;
}
#hero #hero-div h1{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
}
#hero #hero-div #colH1{
    color: #30B868;
}
#hero #hero-div p{
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 100;
}
#hero #hero-div #btn-div{
    margin-left: 70px;
}
#hero #hero-div #btn-div button{
    margin-top: 10px;
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    padding: 16px 46px 16px 16px;
    font-size: 16px;
}
#hero #hero-div #btn-div #trans{
    background-color: transparent;
    border: 2px solid #FFFFFF;
}
/* new section */
#midle {
    height: 448px;
}
#midle #first{
    margin-top: 70px;
    margin-left: 590px;
}
#midle #first h1{
    font-size: 48px;
}
#midle #first p{
    margin-left: 19px;
    color: #627338;
    margin-top: 8px;
}
#midle #second{
    padding-top: 20px;
    margin: 20px 120px 0px 120px;
    display: flex;
    justify-content: space-between;
}
#midle #second .card{
    height: 300px;
    width: 322px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
#midle #second .card img{
    background-color: red;
    padding: 20px;
    border-radius: 50%;
    margin: 83px 144px 30px 130px;
}
#midle #second .card h4{
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}
#midle #second .card p{
    text-align: center;
    color: #627382;
    font-size: 16px;
}


/* section end */
.midle2 {
    margin-bottom: 40px;
}
.midle2 #container{
      display: flex;
      margin: 120px;
}
.midle2 #container #mimg img{
    height: 600px;
    width: 600px;
}
.midle2 #container .info{
      margin-top:101px ;
      margin-left: 60px;
}
.midle2 #container .info h6{
    letter-spacing: 3px;
    font-size: 16px;
    color: #30B868;
    margin-bottom: 16px;
}
.midle2 #container .info h1{
    font-size: 48px;
    margin-bottom: 16px;
    text-transform: capitalize;
}
.midle2 #container .info .text p{
    text-align: left;
    color: #627382;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.midle2 #container .info p{
    margin-bottom: 16px;
}

/*  */
.last .ll {
     display: flex;
     justify-content: center;
     background-color: #F7F6F2;
     width: 1360px;
     height: 385px;
     margin: 80px 120px 120px 240px;
}
.last .ll .last1{
    margin: 80px 0px 0px 0px;
}
.last .ll .last1 h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
}
.last .ll .last1 p{
    text-align: center;
    font-size: 16px;
    color: #627382;
    margin-bottom: 24px;
}
.last .ll .last1 button{
    width: 251px;
    height: 52px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    margin-left: 120px;
    margin-bottom: 16px;
    border-radius: 5px;
    padding: 16px 46px 16px 16px;
    font-size: 16px;
}
/*  */
footer{
    height: 350px;
    background-color: rgba(0, 25, 49, 1);
}
footer .f1{
    display: flex;
    justify-content: space-between;
    margin: 120px;
    padding-top: 120px;
}
footer .f1 .logo img{
    height: 60px;
    width: 139px;
}
footer .f1 .social h6{
    color: #FFFFFF;
    margin-right: 100px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}
footer .social i{
    color: #FAFAFA;
    font-size: 22px;
    margin-right: 15px;
    cursor: pointer;
    margin-top: 10px;
}
footer .border{
    margin: 0 120px 0px 240px;
    width: 1330px;
    border-top: 1px solid #627382;
}
footer .border p{
    text-align: center;
    color: #FAFAFA;
    /* margin-left: 400px; */
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
}
footer{
    height: auto;
}